<div class="fos_user_user_show">
    <div class="row">
        <div class="col-md-4">
            {% if user.avatar is not null %}
                <img class="thumbnail"
                     src="{{ vich_uploader_asset(user, 'avatarFile') | imagine_filter('users_list_avatar') }}"
                     alt="{{ user.username }}"/>
            {% endif %}
        </div>
        <div class="col-md-8">
            <p>{{ 'user.username' | trans }}: {{ user.username }}</p>

            <p>{{ 'user.fullname' | trans }}: {{ user.fullname }}</p>

            <p>{{ 'user.email' | trans }}: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>

            <p>{{ 'user.user_role' | trans }}: {{ ('user.role.title.' ~ user.roles | first) | trans }}</p>

            <p>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-primary" href="{{ path('sbts_user_edit', {'username': user.username}) }}">
                        {{ 'user.link.edit_user' | trans }}
                    </a>
                {% elseif user.username == app.user.username %}
                    <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">
                        {{ 'user.link.edit_my_user' | trans }}
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
