{% extends 'SbtsIssueBundle::layout.html.twig' %}

{% block title %}{{ 'issue.view.add_sub_task' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if issue is defined and not null %}
                <ol class="breadcrumb">
                    {% if is_granted('view', issue.project) %}
                        <li>
                            <a href="{{ path('sbts_project_page', {'project': issue.project.code}) }}">
                                {{ issue.project.label }}
                            </a>
                        </li>
                    {% endif %}

                    {% if issue.parent %}
                        <li>
                            <a href="{{ path('sbts_issue_page', {'issue': issue.parent.code}) }}">
                                {{ issue.parent.code }}
                            </a>
                        </li>
                    {% elseif issue.code is not empty and is_granted('view', issue) %}
                        <li>
                            <a href="{{ path('sbts_issue_page', {'issue': issue.code}) }}">
                                {{ issue.code }}
                            </a>
                        </li>
                    {% endif %}

                    <li class="current">{{ 'issue.view.add_sub_task' | trans }}</li>
                </ol>
            {% endif %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
