{% extends 'SbtsIssueBundle::layout.html.twig' %}

{% block title %}{{ 'issue.form.create' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% if issue is defined and not null %}
                <ol class="breadcrumb">
                    {% if is_granted('view', issue.project) %}
                        <li>
                            <a href="{{ path('sbts_project_update', {'project': issue.project.code}) }}">
                                {{ issue.project.label }}
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('view', issue) %}
                        <li>
                            <a href="{{ path('sbts_issue_page', {'issue': issue.code}) }}">
                                {{ issue.code }}
                            </a>
                        </li>
                    {% endif %}

                    <li class="current">Edit issue</li>
                </ol>
            {% endif %}

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
