{% extends 'SbtsIssueBundle::layout.html.twig' %}

{% block title %}{{ 'issue.page' | trans({ 'code': issue.code }) }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                {% if is_granted('view', issue.project) %}
                    <li>
                        <a href="{{ path('sbts_project_page', {'project': issue.project.code}) }}">
                            {{ issue.project.label }}
                        </a>
                    </li>
                {% endif %}

                {% if issue.parent %}
                    <li>
                        <a href="{{ path('sbts_issue_page', {'issue': issue.parent.code}) }}">
                            {{ issue.parent.code }}
                        </a>
                    </li>
                {% endif %}

                <li class="active">{{ issue.code }}</li>
            </ol>

            <h4>{{ issue.summary }}</h4>
            <hr/>

            {% if is_granted('edit', issue) %}
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('sbts_issue_update', {'issue': issue.code}) }}">
                        {{ 'issue.link.edit' | trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h6>{{ 'issue.view.details' | trans }}</h6>

            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>{{ 'issue.view.type' | trans }}:</strong> {{ issue.type.name | trans }}
                    </p>

                    <p>
                        <strong>{{ 'issue.view.priority' | trans }}:</strong> {{ issue.priority.name | trans }}
                    </p>
                </div>

                <div class="col-md-6">
                    <p>
                        <strong>{{ 'issue.view.status' | trans }}:</strong> {{ issue.status.name | trans }}
                    </p>

                    <p>
                        <strong>{{ 'issue.view.resolution' | trans }}:</strong> {{ issue.resolution.name | trans }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr/>
                    <h6>{{ 'issue.view.description' | trans }}</h6>

                    <p>{{ issue.description }}</p>

                    {% if is_granted('add_sub_task', issue) %}
                        <hr/>
                        <h6>{{ 'issue.view.children' | trans }}</h6>

                        <p>
                            <a class="btn btn-primary btn-sm"
                               href="{{ path('sbts_issue_add_subtask', {'issue': issue.code }) }}">
                                {{ 'issue.view.add_sub_task' | trans }}
                            </a>
                        </p>

                        <div class="row">
                            {% for child in issue.children %}
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ child.id }}
                                            {% if child.resolution.name == 'issue.resolution.resolved' %}
                                                <span class="fui-check-circle"></span>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-5">
                                            <a href="{{ path('sbts_issue_page', {'issue': child.code}) }}">
                                                {{ child.summary }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-12">
                                    <p>{{ 'issue.view.no_subtasks' | trans }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <hr/>
                    <h6>{{ 'user.view.activity' | trans }}</h6>

                    <div class="row">
                        <div class="col-md-12">
                            {% for activity in issue.activity %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>{{ activity.created | localizeddate('short', 'short') }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <a href="{{ path('sbts_user_profile',
                                                {username: activity.initiator.username}) }}">
                                                {{ activity.initiator.fullname }}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        {% if activity.comment is not null %}
                                            {{ 'comment.wrote' | trans }} {{ activity.comment.body }}
                                        {% else %}
                                            {{ activity.event | trans }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <hr/>
                    <h6>{{ 'comment.view.list' | trans }}</h6>

                    <div class="row">
                        {% for comment in issue.comments %}
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ comment.created | localizeddate('short', 'short') }}
                                    </div>
                                    <div class="col-md-4">
                                        <a href="{{ path('sbts_user_profile', {'username':comment.author.username}) }}">
                                            {{ comment.author.fullname }}
                                        </a>

                                        {% if is_granted('edit', comment) %}
                                            <a href="{{ path('sbts_comment_edit', {'comment': comment.id}) }}">
                                                <span class="fui-new"></span>
                                            </a>
                                        {% endif %}

                                        {% if is_granted('delete', comment) %}
                                            <a href="{{ path('sbts_comment_delete', {'comment': comment.id}) }}"
                                               data-confirm="{{ 'comment.link.delete_confirmation'
                                               | trans({'%text%': comment.body}) }}"
                                               title="{{ 'comment.link.delete' | trans }}">
                                                <span class="fui-trash"></span>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-5">
                                        {{ comment.body }}
                                    </div>
                                </div>
                            </div>

                        {% else %}
                            <div class="col-md-12">
                                <p>{{ 'issue.view.no_comments' | trans }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {% include 'SbtsCommentBundle:Default:form.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h6>{{ 'issue.view.people' | trans }}</h6>

            <p>
                <strong>{{ 'issue.view.assignee' | trans }}:</strong>
                <a href="{{ path('sbts_user_profile', {'username': issue.assignee.username}) }}">
                    <span class="fui-user"></span> {{ issue.assignee.username }}
                </a>
            </p>

            <p>
                <strong>{{ 'issue.view.reporter' | trans }}:</strong>
                <a href="{{ path('sbts_user_profile', {'username': issue.reporter.username}) }}">
                    <span class="fui-user"></span> {{ issue.reporter.username }}
                </a>
            </p>

            <hr/>

            <h6>{{ 'issue.view.dates' | trans }}</h6>

            <p>
                <strong>{{ 'issue.view.created' | trans }}:</strong>
                {{ issue.created | localizeddate('short', 'short') }}
            </p>

            <p>
                <strong>{{ 'issue.view.updated' | trans }}:</strong>
                {{ issue.updated | localizeddate('short', 'short') }}
            </p>

            <hr/>

            <h6>{{ 'issue.view.collaborators' | trans }}</h6>
            {% for user in issue.collaborators %}
                <p>
                    <a href="{{ path('sbts_user_profile', {username: user.username}) }}">
                        {% include 'SbtsIssueBundle:Default:_user_avatar.html.twig' %}
                        {{ user.username }}
                    </a>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
