{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/sbtsdashboard/css/vendor/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/sbtsdashboard/css/flat-ui.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/sbtsdashboard/css/app.css') }}" rel="stylesheet"/>
{% endblock %}

{% block navbar %}
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="{{ path('sbts_dashboard_index') }}">SBTS</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    {% block menu %}
                        {{ knp_menu_render('SbtsDashboardBundle:Builder:mainMenu') }}
                    {% endblock %}
                    {% block user %}
                        {% if is_granted("ROLE_USER") and app.user is defined %}
                            {#{{ knp_menu_render('SbtsUserBundle:Builder:userDropdown') }}#}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{ app.user.fullname }}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ path('fos_user_profile_show') }}">
                                                {{ 'security.user.profile' | trans }}
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                {{ 'security.user.logout' | trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    {% endblock %}
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/sbtsdashboard/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sbtsdashboard/js/flat-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/sbtsdashboard/js/app.js') }}"></script>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">{{ 'dashboard.modal.cancel' | trans }}</button>
                    <a class="btn btn-danger btn-ok">{{ 'dashboard.modal.delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
