{% extends 'SbtsProjectBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4>
                {{ project.label }}
                / <a href="{{ path('sbts_project_page', {'project' : project.code}) }}">
                    {{ project.code }}
                </a>
            </h4>
            <p>{{ project.summary }}</p>

            {% if is_granted('edit', project) %}
                <a class="btn btn-primary" href="{{ path('sbts_project_update', {'project': project.code}) }}">
                    {{ 'project.edit' | trans }}
                </a>

                <a class="btn btn-primary" href="{{ path('sbts_issue_create', {'project': project.code}) }}">
                    {{ 'issue.form.create' | trans }}
                </a>
            {% endif %}

            <h6>{{ 'project.issues_list' | trans }}</h6>

            <div class="row">
                {% for issue in project.issues %}
                    <div class="col-md-12">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="width:40%;">
                                    <a href="{{ path('sbts_issue_page', {'issue': issue.code}) }}">
                                        {{ issue.code }}
                                    </a>
                                    {{ issue.summary | truncate(200) }}
                                </td>
                                <td>{{ issue.type | trans }}</td>
                                <td style="width:25%;">
                                    <a href="{{ path('sbts_user_profile', {'username' : issue.assignee.username}) }}">
                                        {{ issue.assignee.fullname }}
                                    </a>
                                </td>
                                <td style="width:60px;">{{ issue.updated | localizeddate('short', 'short') }}</td>
                                <td style="width:60px;">{{ issue.created | localizeddate('short', 'short') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        {{ 'project.view.no_issues' | trans }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <hr/>
        <div class="col-md-6">
            <h6>{{ 'project.users_list' | trans }}</h6>
            </p>
            {% for user in project.users %}
                <p>
                    <a href="{{ path('sbts_user_profile', {username: user.username}) }}">
                        {% include 'SbtsProjectBundle:Default:_user_avatar.html.twig' %}
                        {{ user.fullname }}
                    </a>
                </p>
            {% endfor %}
        </div>

        <div class="col-md-6">
            <h6>{{ 'project.activity' | trans }}</h6>

            <div class="row">
                {% for activity in project.activity %}
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                {{ activity.created | localizeddate('short', 'short') }}
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('sbts_user_profile', {username: activity.initiator.username}) }}">
                                    {{ activity.initiator.fullname }}
                                </a>

                                {% if activity.comment != null %}
                                    wrote: {{ activity.comment.body }}
                                {% else %}
                                    {{ activity.event|trans }}
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                <a href="{{ path('sbts_issue_page', {'issue': activity.issue.code}) }}" >
                                    {{ activity.issue.code }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        {{ 'project.view.no_activity' | trans }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
