{% extends 'SbtsProjectBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h4>{{ 'project.info' | trans }}</h4>

            <p><strong>{{ 'project.code' | trans }}:</strong> {{ project.code }}</p>
            <p><strong>{{ 'project.label' | trans }}:</strong> {{ project.label }}</p>
            <p><strong>{{ 'project.summary' | trans }}:</strong> {{ project.summary | truncate(200) }}</p>
            <p><strong>{{ 'project.users_list' | trans }}:</strong></p>
            {% for user in project.users %}
                <div>
                    <a href="{{ path('sbts_user_profile', { username: user.username }) }}">
                        {{ user.username }}
                    </a>
                </div>
            {% endfor %}

            <a class="btn btn-primary" href="{{ path('sbts_project_update', {'project': project.code}) }}">
                {{ 'project.edit' | trans }}
            </a>
        </div>

        <div class="col-md-6">
            <h4>{{ 'project.activity' | trans }}</h4>
        </div>
    </div>
{% endblock %}
